html{
    background: linear-gradient(darkgreen, darkslategray )  ;
 margin: 0;
 height: 100%;

}
.container{
    display: flex;
flex-direction: column;
height: 100%;
}
#selectors {
    display: flex;
    justify-content: center;
}
.btmg {
    width: 80px;
    padding-bottom: 2em;
}
.stack {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 20px 40px;
}
.tx1mg{
    display: flex;
    flex-direction: column;
}
.tx1{
    font-size: 1.1250em;
    font-weight: bold;
}
h1{
    display: block;
    text-align: center;
}
.row{
    display: flex;
    justify-content: space-around;
    font-size: 2.5em;
    padding-bottom: 1em;
    padding-left: 2em;
    margin: 0 1em;
    background:linear-gradient(#2f4f4f4d, black) ;
    border-radius: 0.5em;
    color:white;

}
.fisc{
    display: flex;
    flex-direction: column;

}
.score{
    text-align: center;
}
.resrou{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.result{
    font-size: 2.25em;
}
.round{
    font-size: 1.25em;
}
button{
    border: none;
    margin: 1em;
    background-color: rgb(4, 71, 58);
    border-radius: 2em;
    color: white;


}
button:active{
    -webkit-filter: invert(1);

}
button:hover{
    background-color: rgb(47, 79, 79, 0.3);
    border-radius: 2em;
}
#centerou{
    background: linear-gradient(darkslategray, black);
    border-radius: 0.5em;
    padding: 0.1em 1em;
    text-align: center;
    color: white;
}
